.sizefont {
    font-weight: 600 !important;
    font-size: 2em;
}

body {
    position: relative;
    background: whitesmoke !important;
}

*,
 ::before,
 ::after {
    // box-sizing: border-box;
    // border-width: 0;
    // border-style: solid;
    border-color: #e2e8f0 !important;
}

.intro {
    margin-left: 36%;
    margin-top: 3%;
    position: absolute;
    @media (max-width: 500px) {
        margin-left: 30%;
    }
    @media (max-width: 380px) {
        margin-left: 25%;
    }
    @media (max-width: 300px) {
        margin-left: 20%;
    }
    p {
        box-shadow: 0 0 5px black;
        font-weight: 800;
        border-radius: 30px;
        padding: 7px 25px;
        color: white;
        letter-spacing: 2px;
        background-image: linear-gradient(to top left, #F4392E, #E921A0);
    }
    @media (max-width: 769px) {
        margin-top: 3%;
        // margin-left: 45%;
        text-align: center;
        // color: red;
    }
}